# ============ Project specific =======================

# media files in package folder
/hima/**/*.png
/hima/**/*.svg
/hima/**/*.gif

# data files in package folder
/hima/**/*.pkl
/hima/**/*.csv.tar.gz

# config auto-backups
/hima/**/_*.yml

# wandb folders
wandb/

# ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
# please, place all project specific rules above this line
# =====================================================

# OSX aux files
.DS_Store

# Distribution / packaging
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
.last_checked

# pycharm settings
.idea/

# VS Code settings
.vscode/
