# >>>>>>>>> conda requirements
python>=3.8
numpy
matplotlib
jupyterlab
ruamel.yaml
tqdm

#   htm.core dependencies
mock
prettytable
pytest==4.6.5



# >>>>>>>>> pip requirements
wandb

#   htm.core dependencies
hexy
#       better install htm.core from sources, but remember to fix boost url manually
htm.core
