# >>>>>>>>> conda requirements
python>=3.8
numpy
matplotlib
jupyterlab
ruamel.yaml
tqdm
wandb
imageio
seaborn
ast
#   htm.core dependencies
mock

# <<<<<<<<< conda requirements


# >>>>>>>>> pip requirements
#   htm.core dependencies
hexy
prettytable
pytest>=4.6.5

# <<<<<<<<< pip requirements


# >>>>>>>>> install from sources
#   install htm.core from sources until they fix pip package
htm.core
