# >>>>>>>>> conda requirements
python>=3.8
numpy
matplotlib
jupyterlab
ruamel.yaml
tqdm
wandb

#   htm.core dependencies
mock


# >>>>>>>>> pip requirements

#   htm.core dependencies
hexy
prettytable
pytest>=4.6.5

#       better install htm.core from sources, but remember to fix boost url manually if it's not
htm.core
